<section>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-4">
                <label for="basic-url" class="form-label">Nome</label>
                <div class="input-group mb-3">
                    <input type="text"
                           class="form-control"
                           aria-describedby="basic-addon2" />
                </div>
            </div>
            <div class="col-md-4">
                <label for="basic-url" class="form-label">E-mail</label>
                <div class="input-group mb-3">
                    <input type="text"
                           class="form-control"
                           aria-describedby="basic-addon2" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="basic-url" class="form-label">Código Usuario</label>
                <div class="input-group mb-3">
                    <input type="text"
                           class="form-control"
                           aria-describedby="basic-addon1" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="basic-url" class="form-label">
                        Status
                    </label>
                    <div class="input-group">
                        <select class="form-select">
                            <option selected></option>
                            <option value="Ativo">Ativo</option>
                            <option value="Desativado">Desativado</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary px-4 mb-3 float-end">
                Pesquisar
            </button>
        </div>
    </div>
</section>